{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/puria/qualcosa",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": ["release.html"]
      }
    ],
    "@semantic-release/npm"
  ]
}

